.AddFolder{
    color: white;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.AddFolder .form-group{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}
.AddFolder .form-group input{
    margin: 10px 0;
}
.AddFolder button {
    border-style: none;
    background: rgb(0,0,0,0);
    border: solid 2px #fff;
    color: white;
    margin: auto;
    margin-top: 20px;
    display: block;
    font-size: 1.4em;
    cursor: pointer;
}